#about{
    height: 100vh;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about p{
    font-size: 35px;
}

